<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-concept-numeric-heading" jhiTranslate="gatewayApp.conceptsConceptNumeric.home.createOrEditLabel">Create or edit a Concept Numeric</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.conceptsConceptNumeric.uuid" for="field_uuid">Uuid</label>
                    <input type="text" class="form-control" name="uuid" id="field_uuid"
                           formControlName="uuid"/>
                    <div *ngIf="editForm.get('uuid')!.invalid && (editForm.get('uuid')!.dirty || editForm.get('uuid')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uuid')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.conceptsConceptNumeric.hiAbsolute" for="field_hiAbsolute">Hi Absolute</label>
                    <input type="number" class="form-control" name="hiAbsolute" id="field_hiAbsolute"
                           formControlName="hiAbsolute"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.conceptsConceptNumeric.hiNormal" for="field_hiNormal">Hi Normal</label>
                    <input type="number" class="form-control" name="hiNormal" id="field_hiNormal"
                           formControlName="hiNormal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.conceptsConceptNumeric.hiCritical" for="field_hiCritical">Hi Critical</label>
                    <input type="number" class="form-control" name="hiCritical" id="field_hiCritical"
                           formControlName="hiCritical"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.conceptsConceptNumeric.lowAbsolute" for="field_lowAbsolute">Low Absolute</label>
                    <input type="number" class="form-control" name="lowAbsolute" id="field_lowAbsolute"
                           formControlName="lowAbsolute"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.conceptsConceptNumeric.lowNormal" for="field_lowNormal">Low Normal</label>
                    <input type="number" class="form-control" name="lowNormal" id="field_lowNormal"
                           formControlName="lowNormal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.conceptsConceptNumeric.lowCritical" for="field_lowCritical">Low Critical</label>
                    <input type="number" class="form-control" name="lowCritical" id="field_lowCritical"
                           formControlName="lowCritical"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.conceptsConceptNumeric.units" for="field_units">Units</label>
                    <input type="text" class="form-control" name="units" id="field_units"
                           formControlName="units"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.conceptsConceptNumeric.precise" for="field_precise">Precise</label>
                    <input type="checkbox" class="form-control" name="precise" id="field_precise"
                           formControlName="precise"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
