<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.formsForm.home.title">Forms</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-form" [routerLink]="['/form/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.formsForm.home.createLabel">
            Create a new Form
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="forms?.length === 0">
        <span jhiTranslate="gatewayApp.formsForm.home.notFound">No forms found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="forms && forms.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.formsForm.uuid">Uuid</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.formsForm.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.formsForm.version">Version</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.formsForm.build">Build</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.formsForm.published">Published</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.formsForm.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.formsForm.encounterType">Encounter Type</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.formsForm.template">Template</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.formsForm.xslt">Xslt</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let form of forms ;trackBy: trackId">
                    <td><a [routerLink]="['/form', form.id, 'view']">{{ form.id }}</a></td>
                    <td>{{ form.uuid }}</td>
                    <td>{{ form.name }}</td>
                    <td>{{ form.version }}</td>
                    <td>{{ form.build }}</td>
                    <td>{{ form.published }}</td>
                    <td>{{ form.description }}</td>
                    <td>{{ form.encounterType }}</td>
                    <td>{{ form.template }}</td>
                    <td>{{ form.xslt }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/form', form.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/form', form.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(form)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
