<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="conceptReferenceTerm">
            <h2><span jhiTranslate="gatewayApp.conceptsConceptReferenceTerm.detail.title">Concept Reference Term</span> {{ conceptReferenceTerm.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.conceptsConceptReferenceTerm.uuid">Uuid</span></dt>
                <dd>
                    <span>{{ conceptReferenceTerm.uuid }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.conceptsConceptReferenceTerm.name">Name</span></dt>
                <dd>
                    <span>{{ conceptReferenceTerm.name }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.conceptsConceptReferenceTerm.code">Code</span></dt>
                <dd>
                    <span>{{ conceptReferenceTerm.code }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.conceptsConceptReferenceTerm.version">Version</span></dt>
                <dd>
                    <span>{{ conceptReferenceTerm.version }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.conceptsConceptReferenceTerm.description">Description</span></dt>
                <dd>
                    <span>{{ conceptReferenceTerm.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/concept-reference-term', conceptReferenceTerm.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
