<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.formsFieldType.home.title">Field Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-field-type" [routerLink]="['/field-type/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.formsFieldType.home.createLabel">
            Create a new Field Type
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fieldTypes?.length === 0">
        <span jhiTranslate="gatewayApp.formsFieldType.home.notFound">No fieldTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fieldTypes && fieldTypes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.formsFieldType.uuid">Uuid</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.formsFieldType.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.formsFieldType.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.formsFieldType.isSet">Is Set</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fieldType of fieldTypes ;trackBy: trackId">
                    <td><a [routerLink]="['/field-type', fieldType.id, 'view']">{{ fieldType.id }}</a></td>
                    <td>{{ fieldType.uuid }}</td>
                    <td>{{ fieldType.name }}</td>
                    <td>{{ fieldType.description }}</td>
                    <td>{{ fieldType.isSet }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/field-type', fieldType.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/field-type', fieldType.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fieldType)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
