<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.conceptsConceptNameTagMap.home.title">Concept Name Tag Maps</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-concept-name-tag-map" [routerLink]="['/concept-name-tag-map/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.conceptsConceptNameTagMap.home.createLabel">
            Create a new Concept Name Tag Map
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="conceptNameTagMaps?.length === 0">
        <span jhiTranslate="gatewayApp.conceptsConceptNameTagMap.home.notFound">No conceptNameTagMaps found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="conceptNameTagMaps && conceptNameTagMaps.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.conceptsConceptNameTagMap.uuid">Uuid</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let conceptNameTagMap of conceptNameTagMaps ;trackBy: trackId">
                    <td><a [routerLink]="['/concept-name-tag-map', conceptNameTagMap.id, 'view']">{{ conceptNameTagMap.id }}</a></td>
                    <td>{{ conceptNameTagMap.uuid }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/concept-name-tag-map', conceptNameTagMap.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/concept-name-tag-map', conceptNameTagMap.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(conceptNameTagMap)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
